<ion-card>
  <ion-card-header>
    <ion-card-title>Triangulo</ion-card-title>
    <ion-card-subtitle>Perímetro</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    El perímetro de un círculo es la suma de las longitudes de sus lados.
  </ion-card-content>
  <img src="../../../assets/perimetroTriangulo.jpeg" alt="triangulo">
</ion-card>
<form
  (submit)="handleSubmit($event)"
>
  <ion-input
  (ionInput)="handleInput($event)"
  name="a"
  type="number"
  placeholder="Ingrese el lado A (cm)"
  >
  </ion-input>
  <ion-input
  (ionInput)="handleInput($event)"
  name="b"
  type="number"
  placeholder="Ingrese el lado B (cm)"
  >
  </ion-input>
  <ion-input
  (ionInput)="handleInput($event)"
  name="c"
  type="number"
  placeholder="Ingrese el lado C (cm)"
  >
  </ion-input>
  <ion-button type="submit">
    Calcular
  </ion-button>
</form>

@if (perimeter !== null) {
  <span>
    El perímetro del Triangulo es {{ perimeter }} cm
  </span>
}